.navbar {
  color: black;}

.navbar-nav>li a {
  padding: 15px 20px;
  color:#000000;
  text-decoration:none;
}

.jumbotron {
  background-color: #cae0afdc;
  color: rgb(255, 255, 255);
  margin-bottom: 80px;
  
}

.navbar {
  
  background-color: #222b18dc;
  
  border: 0;
  
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.container-fluid {
  padding: 80px 80px;
}

.bg-lime {
  background-color: #cae0afdc;
}

.bg-grey {
  background-color: #f6f6f6;
}





/*Content part/

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  background-image:"Tom-Hegen-Two-Degree-Celsius-3.jpg";
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;

}

/*Graphs alignment*/
.chart2 {
  margin-bottom: 80px
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

